html,
body {
	height: 100%;
	backdrop-filter: brightness(65%);
}

html,
body,
main {
	width: 100%;
}

/* Set Dynamically based on current weather */
body {
	background-image: url(../03-images/storming.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	justify-content: center;
}

main {
	justify-content: center;
}

article {
	padding: 15px;
	margin: 10px;
}

.bg-light-custom {
	background: rgba(211, 211, 211, 0.6);
	border-radius: 15px;
}

.bg-secondary-custom {
	background: rgba(108, 117, 125, 0.6);
	border-radius: 15px;
}

.search-item {
	width: 100%;
	justify-content: center;
}

.search-history {
	padding: 0px;
	width: 100%;
	min-width: 150px;
}

.city {
	margin: 10px 0px 10px 13px;
	padding: 0px;
	width: 100%;
}

.title-bar {
	display: flex;
	flex-flow: column nowrap;
}

.card-title {
	justify-self: flex-start;
}

.cards {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}

.forecast-card {
	max-width: 175px;
	border-radius: 15px;
	margin: 5px 10px 15px 10px;
	padding-top: 10px;
}

.previous-entry {
	width: 100%;
}

.current-weather-subset {
	padding: 5px;
	margin: 5px;
}

#website-header {
	padding: 10px 0px 15px 0px;
	margin: 0px 10px 15px 10px;
	border-radius: 0px;
}

#weather {
	padding: 0px;
	width: fit-content;
	justify-content: flex-start;
	margin: 0px 15px;
}

#search-container {
	padding: 0px 15px 10px 15px;
	max-width: 450px;
	margin: 0px 15px;
}

#history {
	padding: 0px;
}

#forecast-5-day {
	padding-top: 10px;
	max-width: 925px;
	justify-content: center;
}

#current-weather {
	margin-bottom: 15px;
	width: 100%;
	max-width: 925px;
	padding: 0px;
}

#current-weather-card {
	width: 100%;
	border-radius: 15px;
}

#current-weather-date {
	margin: 0px;
	padding: 0px;
	align-self: flex-end;
}

#current-weather-title {
	margin: 0px 0px 10px 5px;
}

#current-weather-text {
	display: flex;
	flex-flow: column wrap;
}

#first-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

#second-row .col {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin: 0px 5px;
}

#second-row .col h6,
#second-row .col p {
	width: 100%;
	/* border: solid 2px; */
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#current-temperature {
	font-size: 36pt;
	vertical-align: middle;
}

#search {
	margin-right: 0px;
	padding: 10px;
	margin-left: 1px;
	padding-bottom: 20px;
}

#city-input {
	border: solid 2px;
}

#header {
	border-radius: 0px;
}